*
!.gitignore
!*.cfg
!*.txt
!*.md
!*.yml
!*.c
!*.cu
!*.h
!*.hpp
!*.cpp
!*.c
!*.sh
!*.py
!*.org
!MakeFile

!**/*.cfg
!**/*.txt
!**/*.md
!**/*.yml
!**/*.c
!**/*.cpp
!**/*.cu
!**/*.h
!**/*.hpp
!**/*.sh
!**/*.py
!**/*.org
!**/MakeFile

/simul
