*
!.gitignore
!*.cfg
!*.txt
!*.md
!*.yml
!*.c
!*.cu
!*.h
!*.hpp
!*.cpp
!*.c
!*.sh
!*.py
!*.org
!Makefile

!*/
!/backup/
!/bin/
!/conf/
!/notebooks/
!/doc/
!/include/
!/libs/
!/obj/
!/org/
!/src/
!/tests/
!/tmp/

!/**/*.cfg
!/**/*.txt
!/**/*.md
!/**/*.yml
!/**/*.c
!/**/*.cpp
!/**/*.cu
!/**/*.h
!/**/*.hpp
!/**/*.sh
!/**/*.py
!/**/*.org
!/**/MakeFile
!/**/*.bak
!/**/*.ipynb

/data/simul/*
/data/matrix/*
